html
    head
        title Design
        link(rel='stylesheet' type='text/css' href='public/app.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
        meta(charset='utf-8')
    body
        section#main-container
            h1 Comencemos!
        footer#site-footer
            h3 Copyright
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')