html
    head
        title Design
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        link(rel='stylesheet' type='text/css' href='app.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
        meta(charset='utf-8')
    body
        header
            div.container
                div.row.s12
                h1 Jobby
        nav.nav-wrapper
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='sass.html') Quienes somos
                li
                    a(href='badges.html') Contacto
                li
                    a(href='collapsible.html') Servicios
        section#main-section
            div.container
                div.row
                    div.col.s6
                        div#bolsa
                            div.card.blue-grey.darken-1
                              div.card-content.white-text
                                span.card-title Card Title
                                p
                                  | I am a very simple card. I am good at containing small bits of information.
                                  | I am convenient because I require little markup to use effectively.
                              div.card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                                                    
                    div.col.s6
                        div#gestion
                            h3 Gestion

        footer.page-footer
          .container
            .row
              .col.l6.s12
                h5.white-text GianTIC Grupo innovador en TIC's
                p.grey-text.text-lighten-4 Calle #5 Avenida 35 Las Acacias. Cali. Colombia.
              .col.l4.offset-l2.s12
                ul
                  li
                    a.grey-text.text-lighten-3(href='#!') Contactos
                  li
                    a.grey-text.text-lighten-3(href='#!') Productos
                  li
                    a.grey-text.text-lighten-3(href='#!') Aliados
                  li
                    a.grey-text.text-lighten-3(href='#!') Organización
          .footer-copyright
            .container
              | © 2016 Copyright 
              a.grey-text.text-lighten-4.right(href='#!') More Links

        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src='app.js' type="application/javascript")
